.App {
  text-align: center;
}
.search-section > h2 {
  margin:2rem ;
}

input {
  border-radius: 15px;
  padding: 0.4rem 1rem;
  text-align: center;
  border: 2px solid #676ca9;
  background-color: inherit;
  font-size: larger;
}

.display-section {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.display-section > h3 {
  margin: 0;
}

@media (max-width: 744px) {
  .display-section {
    flex-direction: column;
    align-items: center;
  }
}
